{% extends "base_register.html" %}

{% block content %}

  {% if form.errors %}
  <div class="error__container">
    <p>Your username and password didn't match. Please try again.</p>
  </div>    
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
    <div class="error__container">
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    </div>      
    {% else %}
      <h3>Login to your account</h3>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}" class="form login__form">
    {% csrf_token %}
    <div class="form__control">      
        {{ form.username.label_tag }}            
        {{ form.username }}      
    </div>
    <div class="form__control">      
        {{ form.password.label_tag }}      
        {{ form.password }}
    </div>
    
    <input type="submit" value="login" class="button login__button">
    <input type="hidden" name="next" value="{{ next }}">
  </form>

  {# Assumes you set up the password_reset view in your URLconf #}
  <p class="reset__password"><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}
