{% extends "base_register.html" %}

{% block content %}
<p>Use the form below to complete your password resetting.</p>
  <form action="" method="post" class="form password_reset-form">
  {% csrf_token %}
  {% if form.email.errors %}
  <div class="error__container">
    {{ form.email.errors }}
  </div>
  {% endif %}
  <div class="form__control">
    {{form.email.label_tag}}
    {{ form.email }}
  </div>
    <input type="submit" class="button password__reset-btn button__full-width" value="Reset password">
  </form>
{% endblock %}
