{% extends "base_register.html" %}

{% block content %}
    {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="post" class="form confirm__password">
        {% csrf_token %}
        <div class="form__control">
            <label for="id_new_password1">New password:</label>
            {{ form.new_password1 }}
            <p class="error__message">
                {{ form.new_password1.errors }}
            </p>
        </div>
        <div class="form__control">
            <label for="id_new_password2">Confirm password:</label>
            {{ form.new_password2 }}
            <p class="error__message">
                {{ form.new_password2.errors }}
            </p>
        </div>
        <input type="submit" value="Change my password" class="button">           
        </form>
    {% else %}
    <div class="registration__section error__container">
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    </div>
    {% endif %}
{% endblock %}
